.container-fluid {
    background-image: url("../images/bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    min-height: 100vh;
    position: relative;
}

header {
    padding-top: 3%;
    text-align: center;
}

h1 {
    font-size: 3em;
    font-family: 'Faster One', cursive;
}

h2 {
    font-size: 1.2em;
    font-family: 'Bungee Inline', cursive;
}

h3 {
    position: absolute;
    left: 25%;
    font-size: 0.8em;
}

.main {
    height: 50vh;
    margin: 0 auto;
    padding-top: 5%;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

.bottom {
    padding-top: 15%;
}

.footer {
    position: absolute;
    font-size: 0.5em;
    font-family: 'Press Start 2P', cursive;
    bottom: 0;
    left: 0;
    color: rgb(207, 207, 207);
    background-color: rgba(0, 0, 0, 0.76);
}

#guessed {
    padding-top: 10%;
    font-size: 0.8em;
}

#messages {
    padding-top: 18%;
    font-size: 0.8em;
    color: darkred;
}

.blink {
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}